<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disable Last Change</key>
	<true/>
	<key>ascender</key>
	<integer>1308</integer>
	<key>capHeight</key>
	<integer>1284</integer>
	<key>copyright</key>
	<string>Copyright (c) 2016, Vernon Adams, with Reserved Font Names 'Anaheim'</string>
	<key>descender</key>
	<integer>-389</integer>
	<key>familyName</key>
	<string>Anaheim</string>
	<key>license</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeHeadCreated</key>
	<string>2016/07/06 14:54:15</string>
	<key>openTypeNameDesigner</key>
	<string>Vernon Adams</string>
	<key>openTypeNameDesignerURL</key>
	<string>www.sansoxygen.com</string>
	<key>openTypeNameManufacturer</key>
	<string>Vernon Adams</string>
	<key>openTypeNameManufacturerURL</key>
	<string>www.sansoxygen.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Anaheim</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1968</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-672</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1968</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>672</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-10</integer>
		<integer>0</integer>
		<integer>985</integer>
		<integer>1000</integer>
		<integer>1284</integer>
		<integer>1308</integer>
		<integer>1358</integer>
		<integer>1377</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Anaheim-Regular</string>
	<key>postscriptFullName</key>
	<string>Anaheim Regular</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-390</integer>
		<integer>-340</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>0</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>0</integer>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>2</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>985</integer>
</dict>
</plist>
